@font-face {
    font-family: nodesto;
    src: url(../font/Nodesto\ Caps\ Condensed.otf);
}
@font-face {
    font-family: mreaves;
    src: url(../font/Mr\ Eaves\ Small\ Caps.otf);
}
@font-face {
    font-family: scaly;
    src: url(../font/Scaly\ Sans.otf);
}
*{
    text-decoration: none;
}
body{
    margin:0;
    background-image: url("../img/body.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 315vh;
}
body.home{
    height: 155vh;
}
body.gallery{
    height: 195vh;
}
body.about{
    height: 160vh;
}




nav, section, article, aside, footer{
    border: 10px double #333;
    margin: 10px;
    padding: 5px;
    background-color: black;
    background-image: url("../img/parchment.jpg");
    color: white;
    font-size: 40px;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}
header{
    text-align: center;
    border: 10px double #333;
    margin: 10px;
    padding: 5px;
    background-color: black;
    color: white;
    font-size: 25px;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    background-image: url("../img/header.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: nodesto;
}
header:hover h1{
   opacity: 85%;
   color: grey;
   transition: 0.2s;
}
.stepper{
    background-image:url(../img/stepper.jpg);
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    min-height: 90vh;
    min-width: 90vw;
}
.content, aside{
    width: 100%;
    display: inline-block;
}
main{
    display: flex;
    justify-content: space-evenly;
}
.map{
    display: flex;
    justify-content: center;
    text-align: center;
}
.world{
    background-image: url("../img/world.jpg");
    height: 100vh;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}
nav{
    position: sticky;
    top: 10px;
    z-index: 1;
    display: flex;
    justify-content: space-evenly;
    font-family: mreaves;
}
.imgbox{
    position: relative;
    float: left;
}
.imgbox .hoverimg{
    position: absolute;
    left: 0;
    top: 0;
    display: none;
}
.imgbox:hover .hoverimg{
    display: block;
}
.fill{
    max-width: 100%;
}
audio{
    position: sticky;
}
p{
    text-align: center;
}
p.lore{
    font-family: mreaves;
}
.gallery{
    display: inline-block;
}
.desc{
    font-family: nodesto;
    text-align: center;
}
nav a{
    color: white;
    font-size: 30px;
}
a:hover{
    color: grey;
    opacity: 85%;
    transition: 0.2s;
}
footer{
    z-index: -1;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    padding-bottom: 50px;
}
.social{
    display: flex;
    justify-content: space-evenly;
}
input[type=text], select, textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px; 
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical
}
input[type=button]{
    align-self: center;
    background-image: url("../img/button.jpg");
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-family: nodesto;
    font-size: 30px;
    color: white;
}
input[type=button]:hover{
    opacity: 85%;
    color: green;
    transition: 0.2s;
}
.fa {
    padding: 20px;
    font-size: 30px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
}
.social a:hover{
      opacity: 0.7;
}
.fa-facebook {
    background: #3B5998;
    color: white;
}
.fa-twitter {
    background: #55ACEE;
    color: white;
}
.fa-youtube {
    background: #bb0000;
    color: white;
}
.fa-tumblr {
    background: #2c4762;
    color: white;
}